{% extends "base.html" %}
{% block title %}Пост {{ post_det.text }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post_det.pub_date|date:"d M Y" }}
            </li>
            <!-- если у поста есть группа -->   
              <li class="list-group-item">
                Группа: {{ group_post }}
                <br>
                <a href="../../group/{{ group_post }}">
                  все записи группы {{ group_post }}
                </a>
              </li>
              <li class="list-group-item">
                Автор: {{ post_det.author.get_full_name }}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post_counter }}</span>
            </li>
            <li class="list-group-item">
              <a href="../../profile/{{ post_det.author }}/">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
           {{ post_det.text }}
          </p>
        </article>
      </div> 
{% endblock %}